<div class="container">
  <h3 class="fs-2">Rxjs operators</h3>
  <button type="button" class="btn btn-primary btn-sm me-3" (click)="mapOperator()">map operator</button>
  <button type="button" class="btn btn-primary btn-sm me-3" (click)="distinctUntilChangedOperator()">distinctUntilChanged operator</button>
  <button type="button" class="btn btn-primary btn-sm me-3" (click)="forkJoinOperator()">forkJoin operator</button>
  <button type="button" class="btn btn-primary btn-sm me-3" (click)="mergeMapOperator()">mergeMap operator</button>
  <button type="button" class="btn btn-primary btn-sm me-3" (click)="bufferOperator()">buffer operator</button>
  <button type="button" class="btn btn-primary btn-sm me-3" (click)="concatMapOperator()">concatMap operator</button>
  <button type="button" class="btn btn-primary btn-sm me-3" (click)="concatWithOperator()">concatWith operator</button>
  <button type="button" class="btn btn-primary btn-sm me-3" (click)="debounceOperator()">debounce operator</button>



</div>